@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(126, 119, 119);
}

body > div {
  display: flex;
}

.footer, .header {
  justify-content: space-between;
  padding: 10px;
}

.content {
  /* flex-grow: 1;
  justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center; /*While the element was centered, and the flex direction was column, items defaulted to start of container along main-axis*/
  align-self: center; /*within its body flex container center this element*/
  /*The element itself might be centered but make sure the elements within this element are centered.*/
  /*What if I don't want them to extend the entire inline space across the cross axis, what if I want to center them.
  That's what any other positioning other than stretch does.*/
  gap: 8px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.4rem;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  background-color: rgb(233, 230, 230);
}